body {
    background-color: beige;
    text-align: center;
    color: white;
    
    
}
li{
    border: 2px solid rgb(229, 217, 244);
    display: grid;
    padding: 20px;
    font: 26px;
}
p {
    font-size: 50px;
    color: white;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#statement:hover {
    color:#8344ee
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

 #signupForm label {
    color: white !important;
    margin-top: 10px;
}

#signupForm input[type="text"], input[type="email"], input[type="password"] {
    border: 5px solid #d3c1ff;
    color: rgba(132, 0, 255, 0.477);
    background-color: rgb(229, 217, 244);
    border-color: rgba(132, 0, 255, 0.477);
    border: 3px solid  #d3c1ff;
    font-size: 16px;
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 4px;
}

#signupForm input[type="text"]:focus { 
    border: 5px solid #d3c1ff;
    color: rgba(132, 0, 255, 0.477);
}

h1 {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
}

#signupForm button {
    background-color: #d3c1ff;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
}

#signupForm button:hover {
    background-color: #8344ee;
}

#Welcome {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

#postContent {
    border-radius: 12px;
    border: 3px solid  #d3c1ff;
    color: rgba(132, 0, 255, 0.477);
    background-color: rgb(229, 217, 244);
    padding: 30px;
    margin-bottom: 20px;
    margin-top: 0;
    padding-left: 40px;
    width: 65%;
    height: 30%;

}

 button {
    background-color: #d3c1ff;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
}

#b1 {
    margin-right: 5px;
    padding: 15px;
    font-size: 20px;
}


button:hover {
    background-color: #8344ee;
}

h3 {
    font-size: 22px;
    font-weight: normal;
}
/*
.flex-container {
    display: flex;
}


